      [Unit]
        Description = Realworld Service
        After=network.target
      [Service]
        Type=simple
        Environment=DB_USERNAME={{ DB_USERNAME }}
        Environment=DB_PASSWORD={{ DB_PASSWORD }}
        Environment=DB_URL={{ DB_URL }}
        Environment=DB_PORT={{ DB_PORT }}
        Environment=DB_NAME={{ DB_NAME }}
        WorkingDirectory={{ working_directory }}
        ExecStart=/bin/java -Dspring.config.location=application.properties -Dspring.datasource.url=jdbc:mysql://${DB_URL}:${DB_PORT}/${DB_NAME} -Dspring.datasource.username=${DB_USERNAME} -Dspring.datasource.password=${DB_PASSWORD} -jar backend.jar
        Restart=on-failure
        RestartSec=10
        StandardOutput=syslog
        StandardError=syslog
        SyslogIdentifier=backend    
      [Install]
        WantedBy=multi-user.target